
QMainWindow {
    background-color:black;
}
QLineEdit {
    border-radius: 5px;
    border: 1px solid #398072;
}
QProgressBar {
    border-radius: 5px;
    background-color: white;
}
QSlider {
    border-radius: 3px;
/*    border: 2px solid aqua;*/
    background-color: aqua;
}
QPushButton {
    border-radius: 3px;
    border: 2px solid aqua;
    background-color:white;
}
QPushButton:hover {
    color:darkorange;
}
QPlainTextEdit {
    color:black;
}
QSpinBox {
    color:black;
}
QLabel {
    background-color:white;
}

QGroupBox {
    color:white;
}
